.container {
    text-align: center;
    min-width: 414px;
    max-width: 600px;
}


.img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }  
  .bio {
    margin: 20px auto;
    width: 300px;
  }

  .container2 {
    text-align: center;
    min-width:1024px;
    max-width: 600px;
}

  .img2 {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }  
  .bio2 {
    margin: 20px auto;
    width: 300px;
  }
p::first-line {
    color: blue;
}